body {
    font-family: sans-serif;
    padding: 20px;
}
table {
    border-collapse: collapse;
    width: 70%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
}
